# 0 - Import & Load Data

In [6]:
## for data
import json
import pandas as pd
import numpy as np
from sklearn import metrics, manifold

/Users/sherlyhartono/opt/anaconda3/lib/python3.8/site-packages/gensim/similarities/__init__.py:15: UserWarning: The gensim.similarities.levenshtein submodule is disabled, because the optional Levenshtein package <https://pypi.org/project/python-Levenshtein/> is unavailable. Install Levenhstein (e.g. `pip install python-Levenshtein`) to suppress this warning.
  warnings.warn(msg)

In [3]:
df_word = pd.read_csv('word_embedding.csv')
df_sentence = pd.read_csv('tweet_embedding.csv')

In [4]:
df_word

,words,embeddings,sentence_idx,cluster_label
0,real,[ 8.09312224e-01 2.57290244e-01 3.28179240e-...,0,1
1,estate,[ 5.15018523e-01 -2.59371787e-01 7.68482327e-...,0,1
2,market,[ 2.83597052e-01 -2.68862903e-01 5.36359072e-...,0,1
3,would,[-2.97413141e-01 -4.69342947e-01 -1.56413764e-...,0,0
4,crash,[-2.53820777e-01 4.93182167e-02 6.02328256e-...,0,1
...,...,...,...,...
4401,##ug,[ 2.94814948e-02 3.74061093e-02 2.57864296e-...,199,0
4402,force,[ 1.47148624e-01 -1.23412803e-01 2.33758226e-...,199,1
4403,!,[ 1.23478778e-01 4.02510196e-01 3.94844681e-...,199,1
4404,hundred,[ 3.80463779e-01 1.36309519e-01 3.68034005e-...,199,0
4405,points,[-3.64979982e-01 7.87851661e-02 1.80997923e-...,199,1

In [5]:
df_sentence

,tweet,tweet_embedding
0,Real Estate Market would crash if there is no ...,[ 4.48528051e-01 1.20369852e-01 7.08974063e-...
1,"Concur My company was 100% ""you MUST work in t...",[-4.83603984e-01 -4.39491332e-01 1.73186749e-...
2,Why not ask if we really need that thing ? I t...,[-7.05390275e-01 -3.72148156e-01 1.30119070e-...
3,Dear Line Managers Appraisal your subordinate ...,[-5.88097632e-01 3.25584918e-01 2.62426376e-...
4,I have had more opportunities to work cross-fu...,[-7.84333870e-02 -2.12284088e-01 6.98654473e-...
...,...,...
195,How Hybrid Remote Work Improves #Diversity and...,[-9.23652112e-01 -2.31349811e-01 7.31399834e-...
196,Remote work is not for everyone but those reas...,[-6.92961454e-01 -5.54054499e-01 4.30891365e-...
197,"we were already an outlier here with ""you can ...",[-8.33726346e-01 -9.28657115e-01 2.11951137e-...
198,Curious about remote work at Facebook ? Tune i...,[ 2.45535314e-01 4.40067090e-02 3.91102225e-...
199,Force time off for your employees The unlimite...,[-8.42162967e-02 7.27487437e-04 5.43995440e-...